@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Chewy&family=Gentium+Plus&family=Patrick+Hand&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
.grid {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#background {
    height: 725px;
}
body {
    background-color: #aabd8c;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: "Patrick Hand", "Gentium Plus", monospace;
}
header {
    background-color: #0000ff ;
    font-family: "Balsamiq Sans", "Chewy", sans-serif;
    display: grid;
    grid-template-columns: 300px auto;
}
nav a:hover {
    /*background-color: #af9164;*/
    color: #aabd8c;
}
nav a {
    color: #ff0000;
    font-size: 30px;
}
footer {
    background-color: #381d2a;
    padding: 25px 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #ff0000;
    margin-top: 50px;
}
.logo {
    width: 200px;
}
#main-img {
    width: 100%;
}
.links a {
    text-decoration: underline;
    color: #aabd8c;
}
.social a {
    text-decoration: none;
}
footer h3 {
    margin: 0;
}
a:hover {
    text-decoration: underline;
}
.home-title {
    font-size: 2em;
    margin-top: 10px;
    font-family: "Balsamiq Sans", "Chewy", sans-serif;
}
h2 {
    margin: 0;
    font-family: "Balsamiq Sans", "Chewy", sans-serif;
    color: #ff0000;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
.personalized-teaching-img {
    /*margin: 70px 0;*/
    grid-column: 2/6;
    grid-row: 1/4;
}
.we-come-to-you-img {

    grid-column: 7/11;
    grid-row: 4/7;
}
.online-course-img {
    margin: 70px 0;
    grid-column: 2/6;
    grid-row: 7/10;
}
.online-course-box {
    /*margin: 160px 0px 0px 190px;*/
    grid-column: 7/11;
    grid-row: 8/9;
    text-align: justify;
}
.personalized-teaching-box {
    /*margin: 160px 0px 0px 190px;*/
    grid-column: 7/11;
    grid-row: 2/3;
    text-align: justify;
}
.we-come-to-you-box {
    /*margin: 90px 90px 0px 0px;*/
    grid-column: 2/6;
    grid-row: 5/6;
    text-align: justify;
}

.main-img {
    transition: transform .5s;
    box-shadow: 10px 10px 20px #6f7364;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
}

/* Exclusive - Plans and Pricing css */
.one-hour-img {
    margin-right: 40px;
    grid-column: 2/5;
    grid-row: 2/3;
}
.two-hours-img {
    margin: 0 20px;
    grid-column: 5/8;
    grid-row: 2/3;
}
.three-hours-img {
    margin-left: 40px;
    grid-column: 8/11;
    grid-row: 2/3;
}
.one-hour-box {
    grid-column: 2/5;
    grid-row: 3/4;
    text-align: center;
    margin: 20px 0;
}
.two-hours-box {
    grid-column: 5/8;
    grid-row: 3/4;
    text-align: center;
    margin: 20px 0;
}
.three-hours-box {
    grid-column: 8/11;
    grid-row: 3/4;
    text-align: center;
    margin: 20px 0;
}
.grid h1 {
    margin-top: 0;
    grid-column: 2/11;
    grid-row: 1/2;
    text-align: center;
}

/* Exclusive - About us css */
.about-us-img {
    grid-column: 2/6;
    grid-row: 2/4;
}
.our-mission-img {
    margin-left: 20px;
    grid-column: 6/8;
    grid-row: 3/4;
}
.about-us-box {
    margin-left: 20px;
    grid-column: 6/11;
    grid-row: 2/3;
    text-align: justify;
}
.our-mission-box {
    grid-column: 8/11;
    grid-row: 3/4;
    text-align: justify;
    margin-top: 20px;
    margin-left: 20px;
}


/* Responsive */



@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
